{% extends 'main.html' %}

{% block content %}

<div>
<h1>{{entry.title}}</h1>
<br>
<h4>{{entry.description}}</h4>
<img src="{{ entry.picture.url }}" style="width:400px; height: 400px;">
<h6>created on -- {{entry.created}} | last updated -- {{entry.updated}}</h6>
</div>
<a href="{% url 'diary:update' entry.id %}"><button> edit </button></a>
<a href="{% url 'diary:delete' entry.id %}"><button> delete </button></a>
{% if entry.isbookmark %}
<a href="{% url 'diary:unBookmark' entry.id %}"><button> remove from bookmarks </button></a>
{% else %}
<a href="{% url 'diary:isBookmark' entry.id %}"><button> bookmark it </button></a>
{% endif %}

{% endblock %}